
/* ======================== footer =============================== */

#footer{
    width: 998px;
    height : 130px;
    margin: 0 auto;
}


#footer_logoimg img{
    width : 200px;
}

#footer_info p {
    text-align: center;
    margin: 10px 0px 0px 0px;
}

#footer_info p:nth-of-type(3){
    margin-top : 10px;
}

#footer_buttons div{
    text-align: center;
    margin-top: 7px;
}

#footer_buttons button:first-of-type{
    border-radius: 100px;
}

#footer_buttons div:nth-of-type(2){
    margin-top: 20px;
}
