<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.filmee.myapp.mapper.TestMapper">

    <select id="selectJoinnedTable" resultType="com.filmee.myapp.domain.TestVO">
    
        SELECT u.email, u.nickname, r.content
        FROM   fm_user u,
   			   fm_review r
        WHERE  u.user_id=r.writer
			   and r.writer=#{userId}

    </select>

</mapper>